<%-
include('include/_header')
-%>
<%-
include('include/_navBar')
-%>
<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-chevron-left"></i> All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2>Update User</h2>
            <span class="text-light">Use the form below to update the the account</span>
        </div>
        <!-- Form Handling -->
        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name: </label>
                    <input type="hidden" name="id" value="<%=user._id%>">
                    <input type="text" name="name" value="<%=user.name%>" placeholder="">
                </div>
                <div class="form-group">
                    <label for="lname" class="text-light">Email: </label>
                    <input type="text" name="lname" value="<%=user.lname%>" placeholder="">
                </div>
                <div class="form-group">
                    <label for="usergroup" class="text-light">User Group: </label>
                    <input type="text" name="usergroup" value="<%=user.usergroup%>" placeholder="Staff / Manager / Admin">
                </div>
                <div class="form-group">
                    <label for="userlang" class="text-light">User Language: </label>
                    <input type="text" name="userlang" value="<%=user.userlang%>" placeholder="English / Spanish / French">
                </div>
        
                <div class="form-group">
                    <label for="username" class="text-light">Username: </label>
                    <input type="text" name="username" value="<%=user.username%>" placeholder="Enter a username">
                </div>
                <div class="form-group">
                    <label for="password" class="text-light">Username: </label>
                    <input type="text" name="password" value="<%=user.password%>" placeholder="Add a password">
                </div>
        
                <div class="form-group">
                    <label for="area" class="text-light">Work Area: </label>
                    <input type="text" name="area" value="<%=user.area%>" placeholder="Add a Work Area">
                </div>               

                <div class="form-group">
                    <label for="gender" class="text-light">User Enabled: </label>
                    <div class="radio inline">
                        <input type="radio" id="radio-4" name="status" value="Active">
                        <label for="radio-4" class="radio-label">Yes</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-5" name="status" value="Inactive">
                        <label for="radio-5" class="radio-label">No</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update"><strong>Update User</strong></button>
                </div>
            </div>               
        </form>
        <!-- /Form Handling -->
    </div>
</main>
<!-- /Main Site -->

<%-
include('include/_footer')
-%>